@model IPropertyEditModel
<div class="form-group">
    <label class="col-sm-2 control-label">@Model.EntityProperty.Name</label>

    <div class="col-sm-10">
        <p class="form-control-static">@Model.Value</p>
    </div>
</div>
<div class="hr-line-dashed"></div>