@using Ixq.Core.Entity
@using Ixq.UI
@model IPageEditViewModel
@{
    Layout = "~/Areas/Hplus/Views/Shared/_LayoutHplusIframe.cshtml";
    var entityName = Model.EntityDto.GetType().Name;
}
@section styles{
<link href="~/Content/Hplus/css/plugins/datapicker/datepicker3.css" rel="stylesheet" />
}

<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                @*<div class="ibox-title">
                    <h5>@(Model.Title)</h5>
                </div>*@
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="@(entityName)_from">
                        @foreach (IRuntimePropertyMenberInfo item in Model.PropertyMenberInfo)
                        {
                            @Html.PropertyEditor(item, Model.EntityDto)
                        }
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-3">
                                <button class="btn btn-primary" type="submit">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/Content/Hplus/js/plugins/validate/jquery.validate.min.js"></script>
    <script src="~/Content/Hplus/js/plugins/validate/messages_zh.min.js"></script>
    @Html.RenderScripts()
    <script>
        $().ready(function() {
            $("#@(entityName)_from").validate();
        });
    </script>
}