@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Hplus/Views/Shared/_LayoutHplusIframe.cshtml";
}

<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">
            Ixq framework是一个快速开发框架， 基于Entity Framework的Repository设计模式，实现了自动注入、自动映射、日志、缓存等功能。
            <br/>
        </blockquote>
        <hr>
    </div>
    <div class="col-sm-6">
        <h2>
            Ixq Framework
        </h2>
        <p>Ixq framework是一个快速开发框架， 基于Entity Framework的Repository设计模式，实现了自动注入、自动映射、日志、缓存等功能。</p>
        <p>
            <b>当前版本：</b>v1.0.1
        </p>
        <p>
            <a class="btn btn-outline btn-default" href="https://github.com/zhk0603/ixq" target="_blank">
                <i class="fa fa-github"> </i> GitHub
            </a>
        </p>
    </div>
    <div class="col-sm-6">
        <h4>Ixq.Core 1.0.1</h4>
        <p>
            Ixq.Core是Ixq framework的核心类库，此类库定义了如实体、Repository、依赖注入、日志、缓存等功能的接口。
        </p>
        <h4>Ixq.Data 1.0.1</h4>
        <p>Ixq.Data仓储层，基于Entity Framework实现的数据访问。</p>
        <h4>Ixq.DependencyInjection 1.0.1</h4>
        <p>Ixq.DependencyInjection 依赖注入组件，基于Autofac实现了框架的依赖注入功能。</p>
        <h4>Ixq.Mapper 1.0.1</h4>
        <p>Ixq.Mapper，基于AutoMapper实现的自动映射组件。</p>
        <h4>Ixq.Redis 1.0.1</h4>
        <p>Ixq.Redis，基于StackExchange.Redis实现的缓存组件。</p>
        <h4>Ixq.Logging 1.0.2</h4>
        <p>Ixq.Logging，基于Log4Net实现的日志组件。</p>
        <h4>Ixq.Security 1.0.1</h4>
        <p>Ixq.Security身份验证，权限管理组件，基于AspNet.Identity实现。</p>
        <h4>Ixq.Owin 1.0.1</h4>
        <p>Ixq.Owin，对IAppBuilder启动方式的支持。</p>
        <h4>Ixq.Extensions 1.0.2</h4>
        <p>Ixq.Extensions封装了一些常用的扩展方法。</p>
    </div>
</div>
