@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "~/Areas/Hplus/Views/Shared/_LayoutHplusIframe.cshtml";
}

<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <blockquote class="text-warning" style="font-size:14px">
            Ixq framework是一个快速开发框架， 基于Entity Framework的Repository设计模式，实现了自动注入、自动映射、日志、缓存等功能。
            <br/>
        </blockquote>
        <hr>
    </div>
    <div class="col-sm-6">
        <h2>
            Ixq Framework
        </h2>
        <p>Ixq framework是一个快速开发框架， 基于Entity Framework的Repository设计模式，实现了自动注入、自动映射、日志、缓存等功能。</p>
        <p>
            <b>当前版本：</b>v4.1.0
        </p>
        <p>
            <a class="btn btn-outline btn-default" href="https://github.com/zhk0603/ixq" target="_blank">
                <i class="fa fa-github"> </i> GitHub
            </a>
        </p>
    </div>
    <div class="col-sm-6">
        <h4>H+具有以下特点：</h4>
        <ol>
            <li>完全响应式布局（支持电脑、平板、手机等所有主流设备）</li>
            <li>基于最新版本的Bootstrap 3.3.6</li>
            <li>提供3套不同风格的皮肤</li>
            <li>支持多种布局方式</li>
            <li>使用最流行的的扁平化设计</li>
            <li>提供了诸多的UI组件</li>
            <li>集成多款国内优秀插件，诚意奉献</li>
            <li>提供盒型、全宽、响应式视图模式</li>
            <li>采用HTML5 & CSS3</li>
            <li>拥有良好的代码结构</li>
            <li>更多……</li>
        </ol>
    </div>
</div>
